# =========================
# Python / FastAPI
# =========================
backend/.venv/
backend/venv/
backend/.pytest_cache/
backend/.mypy_cache/
backend/.ruff_cache/
backend/htmlcov/
backend/.coverage
backend/.env
backend/**/__pycache__/
__pycache__/
*.py[cod]


# =========================
# .NET / WPF
# =========================
frontend-wpf/**/bin/
frontend-wpf/**/obj/
frontend-wpf/**/.vs/
frontend-wpf/.idea/
frontend-wpf/.vscode/
frontend-wpf/**/*.user
frontend-wpf/**/*.suo

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
